* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.menu-container {
  color: #fff;
  background-color: purple;
  font-size: 0.8em;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.menu {
  width: 900px;
  display: flex;
  justify-content:space-between;
}
.links{

	display: flex;
	justify-content:flex-end;
}
.info{
	margin-right: auto;
  display: flex;
  align-items: center;
}
.user-details{
  margin-left: auto;
  display: flex;
  align-items: center;
}


.user-details a{
	text-decoration: none;
	color:#fff;
	margin-right: 11px;
}
.user-details a:hover{
  text-decoration: none;
	text-decoration-style: wavy;

}
.header-container{
	color:#5995DA;
	background-color:  #fff;
	display: flex;
	justify-content:center;
}
.header{
	width: 900px;
	height: 100px;
	display: flex;
	justify-content:space-between;
	align-items: center;

}
.header a{
	text-decoration: none;
	color: gray;
	font-size: 0.8em;
}
.header a:hover{
  text-decoration: none;
  color: darkblue;

}
.logo{
	margin-right: auto;

}
.logo img{
	width:160px;
}
.drop:hover .cat-content{
		display: block;

}
.cat-content{
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 108px;
    z-index: 1;
    list-style-type: none;
}
.cat-content a{
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 8px;
}
.cat-content a:hover{
	background-color: purple;
	color:white;
}
.header-small-screen{
  display: none;
}
@media screen and (max-width: 480px){
	body{
	display: flex;
	flex-direction:column;
	}
	.info{
		display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }
  .info div{
    margin-bottom: 0px;
    font-size: 0.8em;
  }
	.menu{
		flex-direction:column;
    justify-content: center;
	}
	.header{
		flex-direction:column;
  }
  .header div{
    font-size: 2.2em;
  }

	.faq{
		margin-left: 0px;
	}
  .logo{
    margin-right: 0px;
  }
  .logo img{
    display: none;
  }
  .user-details{
    display: none;
  }
  .user-details div{
    font-size: 2em;
  }
  .header-small-screen{
    display: block;
  }
  .header{
    display: none;
  }

}
